<%= form_with model: @schedule do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :start_at %>
    <%= f.datetime_local_field :start_at %>
  </div>

  <div>
    <%= f.label :end_at %>
    <%= f.datetime_local_field :end_at %>
  </div>

  <div>
    <%= f.label :memo %>
    <%= f.text_area :memo %>
  </div>

  <%= f.submit %>
<% end %>