<!DOCTYPE html>
<html>
  <head>
    <title>ScheduleApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="app-header">
      <div class="container">
        <h1 class="app-title"><%= link_to "Schedule App", root_path, class: "app-title__link" %></h1>
        <nav class="app-nav">
          <%= link_to "新規作成", new_schedule_path, class: "btn btn-primary" %>
        </nav>
      </div>
    </header>

    <main class="container">
      <% flash.each do |type, message| %>
        <div class="flash <%= type %>"><%= message %></div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>